<footer class="custom-footer">
    <div class="footer-content">
        <span class="footer-text">
            &copy; @DateTime.Now.Year UCR.ECCI.PI.ThemePark.Front-End. Todos los derechos reservados.
        </span>
        <div class="footer-tagline">
            <small class="footer-small-text">
                Desarrollado para propósitos educativos.
            </small>
        </div>
    </div>
</footer>