<header>
    <nav class="custom-header mud-primary mud-text-primary">
        <div class="container-fluid d-flex align-items-center justify-content-between py-3 mb-3">
            <a class="navbar-brand" href="#">
                <img src="./img/firma-ucr.png"
                     class="img-fluid"
                     style="max-width: 100%; height: auto; max-height: 45px;"
                     alt="UCR Logo">
            </a>
        </div>
    </nav>
</header>