@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Components
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <Header />
    <NavMenu />

    @* Body *@
    <MudMainContent Style="margin-top: 112px;">
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>

    <Footer />
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#41ADE7",
            Secondary = "#FFFFFF",
            Tertiary = "#666666",
            AppbarBackground = "#204C6F",
            Error = "#B14212",
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#41ADE7",
            Secondary = "#FFFFFF",
            Tertiary = "#666666",
            AppbarBackground = "#204C6F",
            Error = "#B14212",
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}