@page "/form"
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Components
@using MudBlazor

<Header />

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <Breadcrumbs />

    <MudPaper Class="pa-6">
        <h3>Formulario de usuario</h3>

        <div style="display: flex; gap: 1.5rem; margin-bottom: 1.5rem;">
            <div style="flex: 1; max-width: 175px;">
                <h6>Nombre</h6>
                <MudTextField @bind-Value="Name" Label="Ingrese su nombre" Variant="Variant.Filled" />
            </div>
            <div style="flex: 1; max-width: 175px;">
                <h6>Email</h6>
                <MudTextField @bind-Value="Email" Label="Ingrese su email" Variant="Variant.Filled" />
            </div>
            <div style="flex: 1; max-width: 175px;">
                <h6>Contraseña</h6>
                <MudTextField @bind-Value="Password" Label="Ingrese su contraseña" Variant="Variant.Filled" InputType="InputType.Password" />
            </div>
        </div>

        <CustomButton ButtonType="add">Enviar</CustomButton>
    </MudPaper>
</MudContainer>

<Footer />

@code {
    private string Name { get; set; }
    private string Email { get; set; }
    private string Password { get; set; }
}
